<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>WebProject</display-name>
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>testConfiguration</servlet-name>
    <servlet-class>cn.com.TestConfiguration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testConfiguration</servlet-name>
    <url-pattern>/testConf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testModifiedSince</servlet-name>
    <servlet-class>cn.com.TestModifiedSince</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testModifiedSince</servlet-name>
    <url-pattern>/testMod</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testTimeout</servlet-name>
    <servlet-class>cn.com.TestTimeout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testTimeout</servlet-name>
    <url-pattern>/testTimeout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testHttpHead</servlet-name>
    <servlet-class>cn.com.TestHttpHead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testHttpHead</servlet-name>
    <url-pattern>/testHttpHead</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testWrite</servlet-name>
    <servlet-class>cn.com.TestWrite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testWrite</servlet-name>
    <url-pattern>/testWrite</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>testRequestMethod</servlet-name>
    <servlet-class>cn.com.TestRequestMethod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testRequestMethod</servlet-name>
    <url-pattern>/testReqM</url-pattern>
  </servlet-mapping>
</web-app>